.form-control{
	border-radius: 16px;
}
.profile {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.profile img{
	border: 4px solid #ee4055;
}
.profile_content{
	padding:5px;
}
.profile_content p{
	color:grey;
	font-size: 10px;
}

.profile_content .glyphicon{
	color:#ee4055;
}
.DATE{
    font-weight: bold;
}
#logo{
	padding-bottom: 50px;
}
#fb_login{
	padding-top: 30px;
}
#myPoints {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size:14px;
    color: #ffffff;
    text-shadow: none;
}
#mePointsStoreHeader {
    position: absolute;
    right: 20px;
    top: 40px;
    font-size:14px;
}
#nav{
	background-color: #2a2a2a;
}

#nav a{
	font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	text-decoration: none;
	border:none;
	font-size: 14px;
	text-shadow: none;
	font-weight: 100;
	padding-bottom: 15px;
	padding-top: 15px;
    color: #ffffff;
}
#nav a:hover{
	opacity: 0.5;
}
#nav h4{
	font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	font-size: 12px;
	color:#fff;
	text-shadow: none;
}

.ui-content ul li a img{
	border: 2px solid #e03838;
	margin-right: 10px;
}

.ui-content ul li a h2{
	font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	font-weight:100;
	font-stretch:normal;
	font-size: 12px;
	text-decoration-color: black;
	text-decoration: none;
	text-shadow: none;
	padding: 5px;
	margin:0;
}

.ui-content ul li a p {
    color: grey;
    font-size: 10px;
    padding-left: 10px
}

/*MePoints Store*/

/*
#store_list ul li img{
	border:2px solid #ee4055;
}
#store_list h6{
	font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	font-weight: 100;
	font-size: 12px;
}

#store_list p{
	color:grey;
}
#store_list ul li span{
	color:#ee4055;
}
*/

#logo{
text-align:center;
}
#header_orange, #header_brown{
    border: none;
}
#header_orange {
    background-color: #ef4f23;
}
#header_brown{
    background-color: #CD4F39;
}
#header_orange a, #header_brown a{
    background-color: #fff;
    margin-top:20px;
    border-radius: 50%;
    text-shadow:none;
    border:none;
    padding:0.8em 1em;
    margin-left: 10px;
}

#header_orange a{
    color:#ef4f23;
}
#header_brown a{
    color:#CD4F39;
}

